form{
    width: 300px;
    color: white;
    font: 100% tahoma;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background-image: linear-gradient(#bd09b7, #6b4cf5);
    position: relative;
}   

select {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
}
#password{
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
}
#email{
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
}

h1{
    color: white;
}
span{
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-left: 0; 
}

#linea{
    display: inline-block;
    margin-left: 0;
        
}

#checkbox {
    display: inline-block;
    width:10px;
}

#boton{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 20px;
    }
    @media (min-width:500px){
       .box {width: 300px;

       }

    }
